/* genral */

body {
    font-family: 'Germania One', cursive;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .20s;
    animation-duration: .30s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-size: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
    background: #ddd;
}

.screen {
    height: 100%;
}

.preloader-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ddd;
    z-index: 999;
}

.loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: 700;
    font-size: 100px;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 125px;
    height: 125px;
    z-index: 999999;
}

.loader span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #c4d84a;
    z-index: 99999;
    height: 400px;
}


/* LogosDistort */

.ld-smart-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ld-overlap-container {
    position: absolute;
}

.ld-smart-container .ld-3d-parent {
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
    perspective: 9000px;
    opacity: 1;
    position: relative;
}

.ld-smart-container .ld-transform-target {
    position: relative;
    -webkit-transform-style: flat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
}

.ld-smart-container .ld-3d-object {
    position: absolute;
    pointer-events: none;
    -webkit-transform-style: flat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000px;
}


/* general */

h1.name-left-top span {
    color: #000;
    text-align: left;
}

h1 {
    color: #000000;
    position: absolute;
    text-align: center;
    height: 60px;
    z-index: 2;
    font-size: 86px;
    line-height: 60px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .20s;
    animation-duration: .30s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all .2s ease-in-out;
    bottom: 55px;
    z-index: 9;
}

.view-home {
    background: #c4d84a;
    overflow: hidden
}

.view-stack {
    background: #00c2ff;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00a8ff), to(#00d0ff));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #00a8ff, #00d0ff);
    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #00a8ff, #00d0ff);
    /* IE 10 */
    background: -ms-radial-gradient(circle, #00a8ff, #00d0ff);
    /* Opera */
    background: radial-gradient(circle at 50% 50%, #00d0ff, #00a8ff);
    transition: all 0.4s;
}


/* home page */

.view-home h1 {
    color: #000000;
    position: absolute;
    bottom: 5%;
    text-align: center;
    height: 60px;
    left: 0;
    z-index: 2;
    font-size: 86px;
    text-shadow: -1px 3px 0px rgba(255, 255, 255, 1);
    line-height: 60px;
    right: 0;
}

.view-home .name-panel>span:first-child:before {
    content: 'Hi, Welcome to my website';
    font-size: 30px;
    position: absolute;
    top: -57px;
    text-shadow: none;
    background: #000000;
    padding: 10px;
    line-height: 0.8;
    color: #fff;
    transition: all 0.52s;
    opacity: 0;
}

.view-home .name-panel>span.show-welcome:first-child:before {
    opacity: 1
}

.view-home h1 .slogan {
    background: #000;
    color: #fff;
    text-shadow: none;
    font-size: 22px;
    position: relative;
    top: -31px;
    margin-left: 549px;
    padding: 3px 8px;
    display: none;
}

.home-lion {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.sm-icn {
    position: absolute;
    bottom: 30px;
    right: -100px;
    z-index: 800;
    /* background: #f49b21; */
    border-radius: 50%;
    height: 320px;
    width: 320px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .20s;
    animation-duration: .30s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-image: url(../images/sprite-main.png);
    font-size: 0;
    transform: scale(0.8);
    transition: position .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.sm-icn.stackoverflow {
    width: 75px;
    height: 73px;
    bottom: 120px;
}

.sm-icn.linkedin {
    background-position: -100px 0;
    width: 72px;
    height: 72px;
    bottom: 201px;
}

.sm-icn.github {
    background-position: -200px 0;
    width: 71px;
    height: 74px;
    bottom: 288px;
}

.sm-icn:hover {
    transform: scale(1)
}


/* view stack */

.view-stack .sm-icn,
.view-talk .sm-icn,
.view-showcase .sm-icn {
    top: -100px;
    right: inherit !important;
    width: 34px;
    height: 34px;
}

.view-stack .linkedin.sm-icn,
.view-talk .linkedin.sm-icn,
.view-showcase .linkedin.sm-icn {
    background-position: 0px -100px;
    left: 350px;
}

.view-stack .sm-icn.github,
.view-talk .sm-icn.github,
.view-showcase .sm-icn.github {
    background-position: -50px -100px;
    left: 400px;
}

.view-stack .sm-icn.stackoverflow,
.view-talk .sm-icn.stackoverflow,
.view-showcase .sm-icn.stackoverflow {
    background-position: -100px -100px;
    left: 451px;
    width: 33px;
    height: 38px;
    border-radius: 0;
}

.view-showcase .linkedin.sm-icn {
    left: 375px;
}

.view-showcase .sm-icn.github {
    left: 425px;
}

.view-showcase .sm-icn.stackoverflow {
    left: 476px;
}


/* Header */

.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#large-header {
    background: #00c2ff;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00a8ff), to(#00d0ff));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #00a8ff, #00d0ff);
    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #00a8ff, #00d0ff);
    /* IE 10 */
    background: -ms-radial-gradient(circle, #00a8ff, #00d0ff);
    /* Opera */
    background: radial-gradient(circle at 50% 50%, #00d0ff, #00a8ff);
}

.stack-wrapper {
    background: transparent;
    /* background: -webkit-linear-gradient(top left, #0b8be2 0%, #75bd02 100%);
    background: linear-gradient(to bottom right, #0b8be2 0%, #75bd02 100%); */
    position: absolute;
    top: -700px;
    left: 0;
    width: 100%;
    height: calc(100% + 700px);
    overflow: hidden;
    z-index: 0;
    z-index: 3;
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
    background-color: rgba(255, 255, 255, 0.13);
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.18);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.15);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1300px) rotate(600deg);
        transform: translateY(-1300px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1300px) rotate(600deg);
        transform: translateY(-1300px) rotate(600deg);
    }
}

.stack_list_wrapper {
    position: absolute;
    width: calc(100% - 100px);
    bottom: 0;
    margin: auto;
    /* background: #0d1420; */
    height: 100vh;
    box-sizing: border-box;
    /* padding: 150px 0 0; */
    z-index: 4;
}


/* .stack_list_wrapper:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.2;
    content: '';
    z-index: 0;
} */

.node-on .stack-item {
    opacity: 0.5 !important;
}

.node-on .stack-item.active-node {
    opacity: 1 !important;
}

.stack_list_wrapper>div {
    opacity: 0;
    margin: 0;
    transition: all .2s ease-in-out;
    position: absolute;
    background: url(../images/stack-item-bg.png);
    /* border-radius: 50%; */
}

.stack_list_wrapper>div:hover {
    transform: scale(1.2);
    transition: all 0.1s linear;
}

.stack_list_wrapper>div::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url(../images/sprite-main.png) no-repeat left top;
    content: '';
    transform: scale(0.7);
    transition: all 0.2s linear;
}

.stack_list_wrapper>div:hover::after {
    transform: scale(0.8)
}

.stack_list_wrapper>div span {
    opacity: 0;
    font-size: 18px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.stack_list_wrapper>div:hover span {
    opacity: 1;
}

.stack_list_wrapper>div.stack-angularjs:after {
    content: '';
    background-position: 0 -150px;
    width: 93px;
    height: 100px;
}

.stack_list_wrapper>div.stack-html:after {
    background-position: -350px -250px;
    width: 67px;
    height: 95px;
}

.stack_list_wrapper>div.stack-css:after {
    background-position: -350px -150px;
    width: 67px;
    height: 95px;
}

.stack_list_wrapper>div.stack-jquery:after {
    background-position: 0 -250px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-knockoutjs:after {
    background-position: -100px -150px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-restfulapi:after {
    background-position: -200px -150px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-javascript:after {
    background-position: -350px 0;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-photoshop:after {
    background-position: -350px -350px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-sass:after {
    background-position: -100px -250px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-less:after {
    background-position: -200px -250px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-gulp:after {
    background-position: 0 -350px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-magento:after {
    background-position: -100px -350px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-bootstrap:after {
    background-position: -200px -350px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-grunt:after {
    background-position: 0px -450px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-react:after {
    background-position: -100px -450px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-wordpress:after {
    background-position: -200px -450px;
    width: 100px;
    height: 100px;
}

.stack_list_wrapper>div.stack-git:after {
    background-position: -300px -450px;
    width: 100px;
    height: 100px;
}

.rating-block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 60px;
}

.rating-block>div {
    position: relative;
    right: -200px;
    width: 100%;
    height: 33.3%;
}

.rating-block>div.flw {
    background: #E91E63
}

.rating-block>div.good {
    background: #a90a40
}

.rating-block>div.rookie {
    background: #690024
}

.rating-block>div>span {
    color: #fff;
    display: inline-block;
    -webkit-transform: rotate(-90deg) translate(-150px, -40px);
    transform: rotate(-90deg) translate(-150px, -40px);
    -ms-transform: rotate(-90deg) translate(-150px, -40px);
    /* IE 9 */
    position: static;
    width: 150px;
    text-align: center;
    font-size: 30px;
}

.rating-block>div.flw>span {
    /* background: #115582; */
    z-index: 3;
}

.rating-block>div.good>span {
    /* background: #0b4671; */
    z-index: 2;
}

.rating-block>div.rookie>span {
    /* background: #0a4063; */
    z-index: 1
}

.rating-block>div.rating-scale {
    width: 25px;
    position: absolute;
    left: -25px;
    bottom: 0;
    background: #000;
    opacity: none;
    opacity: 0;
    transition: all 1s ease-out;
}

.rating-block>div.rating-scale.rating-on {
    opacity: 1;
}


/* showcase */

.view-showcase {
    overflow: hidden;
    background: #3c3c3c;
}

.view-showcase .slogan {
    font-size: 18px;
    bottom: 6px;
    position: absolute;
    right: 0;
    color: #fff;
}

.showcase-title-panel {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.showcase-title-panel .d-menu {
    position: absolute;
    right: -600px;
    display: flex;
    align-items: center;
    font-size: 20px;
    /* height: 100%; */
    top: 77px;
    color: #fff;
}

.showcase-title-panel .d-menu>div {
    color: #fff;
    margin-right: 25px;
    cursor: pointer
}

.showcase-title-panel .d-menu>div:hover {
    color: #ff9900;
}

.showcase-title-panel .d-menu>div.active {
    color: #ff9900;
    border-bottom: 4px #ff9900 solid;
}

.showcase-title {
    position: relative;
    width: 100%;
    position: relative;
    z-index: 1;
    max-width: 575px;
    margin: auto;
    overflow: hidden
}

.showcase-title div.before {
    content: '';
    position: absolute;
    background: #190303;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

.portfolio-panel {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.portfolio-panel .item {
    opacity: 0;
    background: black;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    overflow: hidden
}

.display-mode .portfolio-panel .item:hover {
    transform: scale(1.1);
    z-index: 2;
}

.portfolio-panel .item .name {
    transition: all 1s;
    top: -100px;
    width: 100%;
    padding: 0 40px;
    color: #fff;
    opacity: 0;
    position: absolute;
    font-size: 40px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    text-align: center;
    display: none;
}

.display-mode .portfolio-panel .item:hover .name {
    top: 35%;
    opacity: 1;
    display: block;
}

.portfolio-panel .des {
    position: absolute;
    bottom: -100px;
    background: #000;
    width: 100%;
    font-size: 15px;
    color: #ff9900;
    transition: all 0.4s linear 0.2s;
    padding: 12px;
    text-align: center;
}

.display-mode .portfolio-panel .item:hover .des {
    bottom: 0;
}

.portfolio-panel>div a {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear 0.1s;
    -moz-transition: opacity 0.5s linear 0.1s;
    transition: opacity 0.5s linear 0.1s;
}

.display-mode .portfolio-panel>div:hover a {
    background: #ff9900;
    border: solid 1px #ff9900;
    padding: 5px;
    color: #000;
    font-size: 14px;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: scale(1) translate(-50%, 0);
    text-decoration: none;
    opacity: 1;
}

.portfolio-panel>div:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: all 0.3s linear;
    transition: 0.3s ease-out;
    -webkit-transform-style: all 0.3s linear;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    background-size: cover;
}

.display-mode .portfolio-panel>div:hover:before {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.portfolio-panel .printbuddy:before {
    background-image: url(./../images/printbuddy.jpg);
}

.portfolio-panel .srilankatravelers:before {
    background-image: url(./../images/srilankatravelers.jpg);
}

.portfolio-panel .dicksmith:before {
    background-image: url(./../images/dicksmithelectronics.jpg);
}

.portfolio-panel .fischersports:before {
    background-image: url(./../images/fischersports.jpg);
}

.portfolio-panel .jaxtyres:before {
    background-image: url(./../images/jaxtyres.jpg);
}

.portfolio-panel .zumex:before {
    background-image: url(./../images/zumex.jpg);
}

.portfolio-panel .cincottachemist:before {
    background-image: url(./../images/cincottachemist.jpg);
}

.portfolio-panel .ism:before {
    background-image: url(./../images/ism.jpg);
}

.portfolio-panel .roselandestate:before {
    background-image: url(./../images/roselandestate.jpg);
}

.portfolio-panel .organic:before {
    background-image: url(./../images/organic.jpg);
}

.portfolio-panel .swisssense:before {
    background-image: url(./../images/swisssense.jpg);
}

.portfolio-panel .theathletesfoot:before {
    background-image: url(./../images/theathletesfoot.jpg);
}

.portfolio-panel .intersport:before {
    background-image: url(./../images/intersport.jpg);
}

.portfolio-panel .jimlawrence:before {
    background-image: url(./../images/jimlawrence.jpg);
}

.portfolio-panel .blyco:before {
    background-image: url(./../images/blyco.jpg);
}

.portfolio-panel .orangeparts:before {
    background-image: url(./../images/orangeparts.jpg);
}

.portfolio-panel .alliontechnologies:before {
    background-image: url(./../images/alliontechnologies.jpg);
}

.portfolio-panel .primera:before {
    background-image: url(./../images/primera.jpg);
}

.portfolio-panel .oldportfolio:before {
    background-image: url(./../images/oldportfolio.jpg);
}


/* talk page */

.view-talk {
    background: #270825
}

.form-style {
    font-size: 30px;
    line-height: 55px;
    color: #fff;
    max-width: 650px;
    margin: 250px 0 0 20px;
    display: none;
    z-index: 99999999;
    padding-bottom: 50px;
    position: relative;
}

.form-style span {
    margin-right: 10px;
    position: relative
}

.form-style input[type=text],
.form-style input[type=email],
.form-style input[type=tel],
.form-style textarea {
    background: transparent !important;
    border: 0;
    border-bottom: solid 3px #fff;
    height: 30px;
    font-size: 30px;
    line-height: 47px;
    color: #f56376 !important;
    font-family: 'Germania One', cursive;
    outline: none;
    overflow: hidden;
}

.form-style .email-error:after {
    content: 'your email address is wrong';
    position: absolute;
    bottom: -39px;
    font-size: 13px;
    /* left: 0; */
    color: yellow;
    right: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #270825 inset;
    -webkit-text-fill-color: #fff !important;
}

.form-style textarea {
    width: 100%;
    height: 48px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #eee;
    font-size: 0;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #eee;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #eee;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #eee;
}

.form-style input#name {
    width: 300px;
}

.form-style input[type=submit] {
    border: 0;
    background: #c4d84a;
    color: #000;
    padding: 5px 20px;
    height: auto;
    float: right;
    font-family: 'Germania One', cursive;
    font-size: 30px;
    margin-top: 15px;
}

body .form-style .error {
    color: red !important;
    border-bottom: solid 3px red;
}

.view-talk .d-menu>div:hover {
    color: #c7c7c7;
}

.job-info {
    width: 80px;
    height: 80px;
    background: red;
    position: fixed;
    bottom: 10%;
    left: 10%;
    border-radius: 50px;
    border: solid 2px #fff;
    z-index: 9;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
    text-align: center;
}

.job-info:before {
    content: '!';
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1
}

.job {
    background: red;
    padding: 15px;
    display: block;
    position: absolute;
    bottom: 120px;
    height: 160px;
    width: 250px;
    left: -20px;
    border: solid 2px #FFF;
    border-radius: 14px;
    font-size: 15px;
    display: none;
    z-index: 99999;
}

.job:before {
    border: 25px solid;
    border-color: #fff transparent transparent #f00;
    bottom: -25px;
    left: 50px;
}

.job:after {
    border: 25px solid;
    border-color: #f00 transparent transparent #f00;
    bottom: -20px;
    left: 52px;
}

.job:after,
.job:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    transform: rotate(135deg);
}

.job span {
    background: #000;
    padding: 5px 10px;
}

.job div {
    position: relative;
    z-index: 9;
}


/* about page */

.view-about {
    background: #edf0ee;
}

.pro-panel {
    width: 40%;
    height: 100%;
    background: url(../images/pro-pic.jpg) no-repeat right top;
    background-size: cover;
    z-index: 0;
    position: relative;
    left: -100%;
    max-width: 600px;
}

.view-about .social-panel {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    right: 5%;
}

.view-about .social-panel>a.sm-icn {
    border-radius: 0;
    display: inline-block !important;
    right: inherit;
    bottom: inherit;
    position: relative;
    vertical-align: middle;
    margin: 0 0 0 50px;
    opacity: 0;
    transform: scale(1);
}

.view-about .social-panel .fb {
    width: 130px;
    height: 27px;
    background-position: 0 -650px;
}

.view-about .social-panel .linkedin {
    width: 124px;
    height: 33px;
    background-position: 0 -700px;
}

.view-about .social-panel .stackoverflow {
    width: 225px;
    height: 44px;
    background-position: -250px -700px;
}

.view-about .social-panel .github {
    width: 101px;
    height: 26px;
    background-position: -250px -650px;
}

.about-name-panel {
    font-size: 30px;
    line-height: 1.2;
    opacity: 0;
}

.about-name-panel .name,
.about-name-panel .job-role {
    color: #e91e63;
    font-size: 40px;
}

.about-contact-panel {
    font-size: 20px;
    position: relative;
    right: -100%;
    text-align: left;
    padding: 20px 0 0 0;
}

.about-contact-panel>div {
    display: inline-block;
    margin: 0 0 0 0;
}

.about-contact-panel>div:last-child {
    margin-left: 80px;
}

.about-contact-panel a {
    color: #000;
    ;
}

.about-contact-panel span {
    display: inline-block;
    width: 80px;
    font-size: 15px;
    color: #8e8e8e;
}

.about-info-wrapper {
    position: absolute;
    left: 40%;
    top: 150px;
    padding-right: 20px;
}

.info-tab {
    position: absolute;
    top: 300px;
    left: 40%;
    font-size: 14px;
    max-height: 40%;
    width: 60%;
    padding-right: 20px;
    opacity: 0;
    z-index: 1;
}

.info-tab .tab-content {
    height: 80%;
    overflow-y: auto;
    padding-top: 20px;
}

.info-tab>div {
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
    font-family: sans-serif;
}

.info-tab>div.tab-content>div {
    display: none;
}

.info-tab>div.tab-content>div.active {
    display: block
}

.info-tab>div.nav {
    display: block;
    font-size: 20px;
    font-family: 'Germania One', cursive;
    padding-top: 0;
}

.info-tab>div.nav span {
    margin: 0 20px 0 0;
    border-right: solid 2px #000;
    padding-right: 20px;
    cursor: pointer;
}

.info-tab>div.nav span:hover,
.info-tab>div.nav span.active {
    color: #e91e63;
}

.info-tab>div.nav span:last-child {
    border-right: 0;
}

.info-tab>div.active {
    display: block;
    padding: 30px 0 0;
}

.exp-panel .item {
    display: table;
    width: 100%;
    margin-bottom: 25px;
}

.exp-panel .item>div {
    display: table-cell;
}

.exp-panel .item>div.col-1 {
    width: 25%;
}

.exp-panel .item>div.col-1 .role {
    margin-bottom: 5px;
    font-family: 'Germania One', cursive;
    font-size: 18px;
}

.exp-panel .item>div.col-2 .name {
    margin-bottom: 5px;
    font-family: 'Germania One', cursive;
    font-size: 18px;
}

.hightlights-panel li {
    padding: 0 0 15px 0;
}

.hightlights-panel li span {
    font-family: 'Germania One', cursive;
    font-size: 18px;
}

.qual-panel li {
    font-weight: bold;
    padding-bottom: 15px;
}

.view-about #large-header {
    background: transparent;
    position: absolute;
    top: 0;
    right: -40%;
    width: auto;
    opacity: 0.6;
    z-index: 0;
}